<!DOCTYPE html>
<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>HotelBediaX Dashboard</title>
    <!-- AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <!-- Angular Material -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <!-- Angular Animate and Aria (required for Angular Material) -->
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <!-- Angular route -->
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <!-- JavaScript files -->
    <script src="src/app.module.js"></script>
    <script src="src/app.config.js"></script>
    <script src="src/components/menu/menu.controller.js"></script>
    <script src="src/components/home/home.controller.js"></script>
    <script src="src/components/destinations/destinations.controller.js"></script>
    <script src="src/components/destinations/destinations.service.js"></script>
    <!-- Bootstrap -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- CSS styles -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!-- <base href="/" /> -->
</head>
<body layout="column">
    <md-toolbar>
      <h3>HotelBediaX Dashboard</h3>
    </md-toolbar>
    
    <div ng-controller="MenuController as menuCtrl" class="" layout="row" flex>
      <md-button class="menu-button" ng-click="menuCtrl.toggleMenu()" aria-label="Show left menu" hide-gt-sm>
        <md-icon md-font-library="material-icons">menu</md-icon>
      </md-button>
      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left">
        <md-content layout="column" ng-click="menuCtrl.toggleMenu()">
            <!-- Menu links -->
            <md-button ng-click="menuCtrl.goToHome()">Home</md-button>
            <md-button ng-click="menuCtrl.goToDestinations()">Destinations</md-button>
        </md-content>
      </md-sidenav>
  
      <md-content id="content" flex>
        <!-- Router content -->
        <div ng-view></div>
      </md-content>
    </div>

</body>
</html>
