<div ng-controller="MenuController as menuCtrl">
    <md-button ng-click="menuCtrl.goToHome()">Home</md-button>
    <md-button ng-click="menuCtrl.goToDestinations()">Destinations</md-button>
    <!-- Add more buttons for other menu options as needed -->
</div>
