<!DOCTYPE html>
<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>HotelBediaX Dashboard</title>
    <!-- AngularJS -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <script src="../node_modules/angular-aria//angular-aria.min.js"></script>
    <!-- <script src="controller.js"></script> -->
    <!-- CSS styles -->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
</head>
<body>
  {{"hola" + " mundo 2"}}
</body>
</html>
