h1, h2, h3, h4, h5, h6 {
  margin: revert;
  text-align: center;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.menu-button .material-icons {
  color: #fff;
}
button .material-icons {
  font-size: 20px;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 5px;
  transition: .2s;
}

th {
  background: #ccc;
}
.th-orderable {
  cursor: pointer;
}
th .material-icons {
  font-size: 20px;
  color: #000;
}

table tr:nth-child(odd) {
  background: #f1f1f1;
}

table tr:nth-child(even) {
  background: #ffffff;
}

tr:hover td {
  background: #ddd;
}

#content {
  padding: 20px 20px 60px 20px;
}

.pagination {
  margin-top: 50px;
}