<div ng-controller="DestinationsController as destCtrl">
  <h1>Destinations</h1>

  <!-- Filter options -->
  
  <div class="md-inline-form" layout="row" layout-align="end center">
    <md-button ng-click="openDestinationFormDialog($event)" class="md-raised md-mini" md-colors="{background: 'green'}">
      <span style="color: #fff;">
        Create
      </span> <md-icon md-font-library="material-icons" style="color: #fff">add</md-icon>
    </md-button>
  </div>

  <!-- Filters -->
  <form class="md-inline-form" style="padding: 10px; border: 1px solid #ccc; margin: 10px 0;">
    <div layout="row">

      <md-input-container flex>
        <label>Name</label>
        <input type="text" ng-model="filter.name">
      </md-input-container>
      
      <md-input-container flex>
        <label>Description</label>
        <input type="text" ng-model="filter.description">
      </md-input-container>
      
      <md-input-container flex>
        <label>Country code</label>
        <md-select ng-model="filter.country_code">
          <md-option ng-value="code" ng-repeat="code in countryCodes">{{ code }}</md-option>
        </md-select>
      </md-input-container>
      
      <md-input-container flex>
        <label>Type</label>
        <md-select ng-model="filter.type">
          <md-option ng-value="type" ng-repeat="type in types">{{ type }}</md-option>
        </md-select>
      </md-input-container>
    </div>
    
    <div layout="row" layout-align="space-between center">
      <md-button ng-click="cleanFilters()" class="md-primary md-fab md-mini" aria-label="Clean filters">
        <md-icon md-font-library="material-icons">replay</md-icon>
      </md-button>
      
      <md-button ng-click="applyFilters()" class="md-primary md-raised">Apply filters</md-button>
    </div>
  </form>
  
  <div layout="row" layout-align="space-between center" style="margin: 20px 0 10px 0; font-weight: bold;">
    <div>
      Destinations found: {{totalDestinations}}
    </div>

    <md-input-container style="width: 120px;">
      <label>Items per page</label>
      <md-select ng-model="itemsPerPage">
        <md-option ng-value="itemsPerPage" ng-repeat="itemsPerPage in itemsPerPagePossible">{{ itemsPerPage }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  
  <!-- Table to display destinations -->
  <table>
    <thead>
      <tr>
        <th ng-click="destCtrl.orderBy('name')" class="th-orderable">
          Name
          <md-icon md-font-library="material-icons" ng-if="order.name">{{order.name == 'ASC' ? 'arrow_downward' : 'arrow_upward'}}</md-icon>
        </th>
        <th>Description</th>
        <th ng-click="destCtrl.orderBy('country_code')" class="th-orderable text-center">
          Country code
          <md-icon md-font-library="material-icons" ng-if="order.country_code">{{order.name == 'ASC' ? 'arrow_downward' : 'arrow_upward'}}</md-icon>
        </th>
        <th ng-click="destCtrl.orderBy('type')" class="th-orderable">
          Type
          <md-icon md-font-library="material-icons" ng-if="order.type">{{order.name == 'ASC' ? 'arrow_downward' : 'arrow_upward'}}</md-icon>
        </th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="destination in destinations">
        <td>{{ destination.name.substring(0, 50) }} {{ destination.name.length > 50 ? ' [...]' : '' }}</td>
        <td>{{ destination.description.substring(0, 100) }} {{ destination.description.length > 100 ? '[...]' : '' }}</td>
        <td class="text-center">{{ destination.country_code }}</td>
        <td>{{ destination.type }}</td>
        <td layout="row" layout-align="center center">
          <md-button ng-click="openDestinationFormDialog($event, destination)" class="md-fab md-mini" md-colors="{background: 'orange'}">
            <md-icon md-font-library="material-icons" style="color: #fff">edit</md-icon>
          </md-button>
          <md-button ng-click="openRemoveDialog($event, destination)" class="md-fab md-mini" md-colors="{background: 'red'}">
            <md-icon md-font-library="material-icons" style="color: #fff">remove</md-icon>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <nav aria-label="Page navigation example mt-6">
    <ul class="pagination pagination-lg justify-content-center">
      <li ng-class="{'diabled': page == 1}" class="page-item">
        <span ng-click="goToPage(page - 1)" class="page-link" aria-hidden="true">&laquo;</span>
      </li>
      <li ng-repeat="pageNumber in totalPagesRange" ng-class="{'active': pageNumber+1 == page}" class="page-item" style="cursor: pointer;">
        <span ng-click="goToPage(pageNumber + 1)" class="page-link">{{ pageNumber + 1 }}</span>
      </li>
      <li ng-class="{'diabled': page == totalPages}" class="page-item">
        <span ng-click="goToPage(page + 1)" class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    </ul>
  </nav>
</div>

<!-- Destination form template -->
<script type="text/ng-template" id="form-dialog.tmpl.html">
  <md-dialog aria-label="Destination form dialog" style="min-width: 400px;">
    <form ng-cloak>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Destination form</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-font-library="material-icons">cancel</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
        <div class="md-dialog-content">
          <form class="md-inline-form" style="padding: 10px; border: 1px solid #ccc; margin: 10px 0;">
            <div layout="column">

              <md-input-container flex>
                <label>Name</label>
                <input type="text" ng-model="selected.name">
              </md-input-container>
              
              <md-input-container flex>
                <label>Description</label>
                <input type="text" ng-model="selected.description">
              </md-input-container>
              
              <md-input-container flex>
                <label>Country code</label>
                <md-select ng-model="selected.country_code">
                  <md-option ng-value="code" ng-repeat="code in countryCodes">{{ code }}</md-option>
                </md-select>
              </md-input-container>
              
              <md-input-container flex>
                <label>Type</label>
                <md-select ng-model="selected.type">
                  <md-option ng-value="type" ng-repeat="type in types">{{ type }}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </form>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row" layout-align="space-between center" class="md-whiteframe-4dp">
        <md-button ng-click="cancel()" class="md-raised" md-colors="{background: 'red'}">
        <span style="color: #fff;">Cancel</span>
        </md-button>
        <md-button ng-click="save()" class="md-raised" md-colors="{background: 'green'}" ng-disabled="!isValidSelected">
          <span style="color: #fff;">Save</span>
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</script>